body {
    display: flex;
    justify-content: center;
    background-image: url(pool.bmp);
}
.container {
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 255, 0.301);
}
label {
    padding-right: 20px;
}
input {
    padding: 2px;
    padding-right: 50px;
}